<!DOCTYPE html>

<html lang="en">
<head>

    <title>Create Rest API Model</title>
    <link rel="stylesheet" th:href="@{/css/create_restapi.css}"/>
    <script th:src="@{/js/create_restapi.js}" type="text/javascript"></script>

</head>

<body>

<h1>Rest API Model Creation</h1>
<input id="requestNameInputField" placeholder="Model name"></input>
<button onclick=addRequest()>Add Request</button>

<div class="treeview">
    <ul>
        <li>
            <div><p><a class="sc" href="#" onclick="return UnHide(this)">&#9660;</a>
                <a>Requests</a></p></div>
            <ul id="requestsList">
                <!-- Tree body (var requestBodyTemplate) -->
            </ul>
        </li>
    </ul>
</div>

<button onclick=sendRestApiModel()>Create Api Model</button>

</body>

</html>