<!DOCTYPE html>

<html lang="en">
<head>

    <title>Messages History</title>
    <link rel="stylesheet" th:href="@{/css/usersapimodels.css}"/>
    <script th:src="@{/js/msg_history.js}"></script>

</head>

<body>

<h1>Messages History</h1>

<div id="msgHistoryDiv">
    <table bgcolor="silver" border="1" cellpadding="5" cellspacing="2" id="msgHistoryTable">
        <tr>
            <td><b>Timestamp</b></td>
            <td><b>Message</b></td>
            <td><b>Status</b></td>
        </tr>
    </table>
</div>

</body>

</html>