<!DOCTYPE html>

<html lang="en">
<head>

    <title>Rest Api Requests History</title>
    <link rel="stylesheet" th:href="@{/css/usersapimodels.css}"/>
    <script th:src="@{/js/restapi_history.js}"></script>

</head>

<body>

<h1>Rest Api Requests History</h1>

<div id="restApiHistoryDiv">
    <table bgcolor="silver" border="1" cellpadding="5" cellspacing="2" id="restApiHistoryTable">
        <tr>
            <td><b>Timestamp</b></td>
            <td><b>Request Body</b></td>
            <td><b>Response Body</b></td>
        </tr>
    </table>
</div>

</body>

</html>