<!DOCTYPE html>

<html lang="en">
<head>

    <title>Rest API Models</title>
    <link rel="stylesheet" th:href="@{/css/usersapimodels.css}"/>
    <script th:src="@{/js/usersapimodels.js}" type="text/javascript"></script>

</head>

<body>

<h1>Users Rest API Models</h1>
<a href="create_restapi.html">Create new endpoint</a>

<div id="usersApiModelsDiv">
    <table bgcolor="silver" border="1" cellpadding="5" cellspacing="2" id="usersApiModelsTable">
        <tr>
            <td><b>Request Name</b></td>
            <td><b>Request Method</b></td>
            <td><b>Request ID</b></td>
            <td><b>Description</b></td>
            <td><b>Request Fields</b></td>
            <td><b>Response Fields</b></td>
            <td><b>Manage</b></td>
        </tr>
    </table>
</div>

</body>

</html>