<!DOCTYPE html>

<html lang="en">
<head>

    <title>Message Queues</title>
    <link href="css/usersapimodels.css" media="screen" rel="stylesheet" type="text/css"/>
    <script src="../static/js/usersmsgqueues.js"></script>

</head>

<body>

<h1>User's Message Queues</h1>
<a href="create_msgqueue.html">Create Message Queue</a>
<div id="usersMsgQueuesDiv">
    <table bgcolor="silver" border="1" cellpadding="5" cellspacing="2" id="usersMsgQueuesTable">
        <tr>
            <td><b>Message Queue Name</b></td>
            <td><b>Push Url (method: POST)</b></td>
            <td><b>Pull Url (method: GET)</b></td>
            <td><b>Push Body Structure</b></td>
        </tr>
    </table>
</div>

</body>

</html>